POSTGRES_USER=lifehelper
POSTGRES_PASSWORD=lifehelper
POSTGRES_DB=lifehelper
POSTGRES_PORT=5432
REDIS_PORT=6379
LOCALSTACK_PORT=4566
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET=lifehelper-local
SQS_QUEUE_NAME=lifehelper-events
SQS_DLQ_NAME=lifehelper-events-dlq

IDENTITY_PORT=3001
PRODUCTIVITY_PORT=3002
AI_PORT=3003
DOCUMENT_PORT=3004
NOTIFICATION_PORT=3005
ANALYTICS_PORT=3006
